<div class="container">

	<div class="row">

    <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-bullhorn"></i>Add Receiver to
          <%= @initiative.title %>
        </h3>
      </div>
    </div>
  </div>

	<table class="table table-normal">
		<% if @people %>
			<% @people.each do |person| %>
				<% if !person.in_initiative?(@initiative) %>
				<tr><td><%= link_to person.full_name, receivers_path({:initiative_id => @initiative.id, :object_id => person.id, :object_type => person.class.name}), :method => :post %></td></tr>
				<% end %>
			<% end %>
	</table>

	<table class="table table-normal">
		<% elsif @projects %>
			<% @projects.each do |project| %>
			<% if !project.in_initiative?(@initiative) %>
				<tr><td><%= link_to project.name, receivers_path({:initiative_id => @initiative.id, :object_id => project.id, :object_type => project.class.name}), :method => :post %></tr></td>
			<% end %>
			<% end %>
		<% end %>
	</table>

</div>