<div class="col-md-12">

  <div class="box">
    <div class="box-header">
      <span class="title">Create Group</span>
      <ul class="box-toolbar">
        <li><i class="icon-refresh"></i></li>
      </ul>
    </div>
    <div class="box-content">

      <%= form_for @groupall, :url => url_for(:controller => 'groups', :action => 'addperson', :id => params[:id]),class: "fill-up" do |f| %>
        <p> 
          Choose a group <br> 
          <% @groupall.each do |t| %>
          <%= f.radio_button :id, t.id %> 
          <%= f.label :id, t.name, :value => t.id %> <br>
          <% end %> 
        </p>
        <p>

        </p>
        <%= submit_tag "Save Group", :name => 'save_button', class: "btn btn-blue" %>
      <% end %>
    </div>
  </div>
</div>
