<div class="col-md-4">

  <div class="box">
    <div class="box-header">
      <span class="title">Create Group</span>
      <ul class="box-toolbar">
        <li><i class="icon-refresh"></i></li>
      </ul>
    </div>

   <%= render "form" %>
  </div>
</div>


