<h3>Example heading <span class="label label-default">New</span></h3>
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>

<p>User count: <%= @user.count %></p>

<ul>
  <% @user.each do |user| %>
    <li><%= user.full_name %></li>
  <% end %>
</ul>
