<div id="modal-paypal-confirm" class="modal fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Pay with paypal</h4>
      </div>
      <div class="modal-body">
          <div>
            <div class="header">Confirm paypal</div>
                Payment of <%= @paypal_payment.amount %> dollars <br>
                To: <%= @paypal_payment.tenant.org_name %> <br>
                for <%= @paypal_payment.sponsorship.initiative.title %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= button_to('Confirm', "/paypal_payments/#{@paypal_payment.id}/confirm",
          :method => "POST", :disable_with => 'processing...', class: "btn btn-blue") %>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
