<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">
    <%= render_navigation :renderer => TbAdmin %>
  </ul>
</div>

