<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">
  <% puts request.original_url %>
    <li class="<%= 'active' if puts current_page?(url_for(:controller => 'homes', :action => 'index')) %>">
      <span class="glow"></span>
      <a href="/">
        <i class="icon-dashboard icon-2x"></i>
        <span>
          Dashboard
        </span>
      </a>
    </li>


    <li class="dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-recipiants">
        <i class="icon-user icon-2x"></i>
        <span>
          Our people
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-recipiants" class="collapse ">
        <li class="">
          <a href="/people?cat=2">
              <i class="icon-reorder"></i> List all
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/general.html">
              <i class="icon-beaker"></i> General elements
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/icons.html">
              <i class="icon-info-sign"></i> Icons
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-supporters">
        <i class="icon-user icon-2x"></i>
        <span>
          Supporters
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-supporters" class="collapse ">
        <li class="">
          <a href="/people?cat=3">
              <i class="icon-reorder"></i> List all
          </a>
        </li>

        <li class="">
          <a href="">
              <i class="icon-beaker"></i> General elements
          </a>
        </li>

        <li class="">
          <a href="">
              <i class="icon-info-sign"></i> Icons
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-staff">
        <i class="icon-user icon-2x"></i>
        <span>
          Staff
          <i class="icon-caret-down"></i>
        </span>
      </a>
      <ul id="side-menu-staff" class="collapse ">
        <li class="">
          <a href="/people?cat=1">
              <i class="icon-reorder"></i> List all
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-initiatives">
        <i class="icon-heart icon-2x"></i>
        <span>
          Initiatives
          <i class="icon-caret-down"></i>
        </span>
      </a>
      <ul id="side-menu-initiatives" class="collapse ">
        <li class="">
          <a href="">
              <i class="icon-reorder"></i> Show all
          </a>
        </li>

        <li class="">
          <a href="">
              <i class="icon-money"></i> Transactions
          </a>
        </li>

        <li class="">
          <a href="">
              <i class="icon-user"></i> People
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/icons.html">
              <i class="icon-gift"></i> Projects
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav ">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-stats">
        <i class="icon-bar-chart icon-2x"></i>
        <span>
          Stats
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-stats" class="collapse ">

        <li class="">
          <a href="#">
              <i class="icon-magic"></i> Wizard
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav ">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-other">
        <i class="icon-bar-chart icon-2x"></i>
        <span>
          Other
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-other" class="collapse ">

        <li class="">
          <a href="/images">
              <i class="icon-picture"></i> Images
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
