<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">

    <li class="active dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-recipiants">
        <i class="icon-user icon-2x"></i>
        <span>
          Our people
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-recipiants" class="collapse ">
        <li class="">
          <a href="">
              <i class="icon-hand-up"></i> List all
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/general.html">
              <i class="icon-beaker"></i> General elements
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/icons.html">
              <i class="icon-info-sign"></i> Icons
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-supporters">
        <i class="icon-user icon-2x"></i>
        <span>
          Supporters
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-supporters" class="collapse ">
        <li class="">
          <a href="">
              <i class="icon-hand-up"></i> List all
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/general.html">
              <i class="icon-beaker"></i> General elements
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/icons.html">
              <i class="icon-info-sign"></i> Icons
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="#side-menu-staff">
        <i class="icon-user icon-2x"></i>
        <span>
          Staff
          <i class="icon-caret-down"></i>
        </span>
      </a>
      <ul id="side-menu-staff" class="collapse ">
        <li class="">
          <a href="../ui_lab/buttons.html">
              <i class="icon-hand-up"></i> Buttons
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/general.html">
              <i class="icon-beaker"></i> General elements
          </a>
        </li>

        <li class="">
          <a href="../ui_lab/icons.html">
              <i class="icon-info-sign"></i> Icons
          </a>
        </li>
      </ul>
    </li>

    <li class="dark-nav ">
      <span class="glow"></span>
      <a class="accordion-toggle collapsed " data-toggle="collapse" href="side-menu-stats">
        <i class="icon-bar-chart icon-2x"></i>
        <span>
          Stats
          <i class="icon-caret-down"></i>
        </span>
      </a>

      <ul id="side-menu-stats" class="collapse ">

        <li class="">
          <a href="#">
              <i class="icon-magic"></i> Wizard
          </a>
        </li>

      </ul>
    </li>
  </ul>
</div>
